VITE_MAPTILER_KEY=your_maptiler_key
VITE_FARO_URL=http://localhost:12347/collect

# Feature Locks (set to "true" to disable the feature)
VITE_LOCK_AIP_SUPPLEMENTS=false
VITE_LOCK_AERODROME_CHARTS=false
